version: '3'
services:
  minioDB:
    container_name: minio
    image: minio/minio:RELEASE.2022-08-13T21-54-44Z
    command: server /data --console-address ":${MINIO_CONSOLE}"
    ports:
      - ${MINIO_CONSOLE}:${MINIO_CONSOLE}
      - ${MINIO_PORT}:9000
    restart: always
    volumes:
      - ./minio/data:/data
      - ./test:/test
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}

  minioServer:
    container_name: minioServer
    image: golang:1.18.3
    ports:
      - ${EXPLORER_SERVER_PORT}:${EXPLORER_SERVER_PORT}
    restart: always
    working_dir: /go
    volumes:
      - ./:/go
    command: /bin/bash -c "/go/main"
    environment:
      MINIO_URL: ${MINIO_URL}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      EXPLORER_SERVER_PORT: ${EXPLORER_SERVER_PORT}
      MINIO_SSL: ${MINIO_SSL}

